# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
UI/node_modules
server/node_modules
server/src/tmp
server/tests
server/src/tmp/somefile.log
# testing
UI/coverage

# production
UI/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
