.row {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-collapse {
  flex-direction: row-reverse;
}

.task {
  height: 40px;
}

.task .task-image {
  height: 30px;
  width: 30px;
  margin: 5px 0;
  border-radius: 15px;
  border: 2px #f0f5f0 solid;
}

.tick {
  height: 30px;
  background-image: url('./img/tick.svg');
  margin: -2px 0 0 -2px;
}

.task .taskName {
  display: table-cell;
  vertical-align: middle;
  line-height: 40px;
}

.filter-name {
  font-size: 20px;
  font-weight: 900;
}

.dashboard {
  margin-top: 20px;
}

.list-group-item.active {
  background-color: #ccc;
}
.list-group-item {
  border: 0px;
  cursor: pointer;
}

.card-header {
  padding: 0.15rem 0.4rem;
  background-color: #fff;
}

.add-task {
  margin-top: 10px;
  padding-left: 10px;
  color: #c66;
}

.add-task > span {
  cursor: pointer;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  opacity: 0.75;
}

span.label {
  display: flex;
  align-items: center;
  display: inline-block;
  background-color: #edd;
  border: 1px solid #edd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 5px;
  margin-right: 5px;
}

.label > .emptyCircle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 15px;
}

.label > .text {
  margin: 0 5px;
  flex-grow: 2;
}

.label > .remove {
  display: inline-block;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: white;
  cursor: pointer;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}
